---
---


@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

// Our variables
$base-font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap-readable",
        "layout",
        "custom",
        "syntax-highlighting"
;

.related-caption {
    div.item {
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 120px;
    }
    img {
        width: 100px;
        height: 100px;
        background-color: grey;
    }
    span {
        display: block;
    }
    a {
        display: block;
    }
}

.rpg-comment {
    font-size: 15px;
	padding: 5px 11px;
	margin:  0 0 11px;
	font-size: 15px;
	border-left: 5px solid #c7254e;
}

.label-grey {
    background-color: #808080;
    hover: #000000;
}

.label-black {
    background-color: #000000;
    hover: #c7254e;
}



.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
