---
layout: default
---
 
<div class="row">
  <div class="col-md-1"></div>
  <div class="pack col-md-8">
    {% for post in paginator.posts %}   
    <div class="col-md-4 card">
      <a href="{{ post.url | prepend: site.baseurl }}"
         class="index-anchor">
        <div class="panel panel-default">
          {% if post.imghtml %}
          <!---width="100%" --->
          <img
            {% if post.crop %}
            class="try-to-crop" 
            {% else %}
            width="100%" 
            {% endif %}
             src="{{post.imghtml}}" alt="{{post.title}}">
          {% else %}
          {% if post.img %}
          <img width="100%" src="{{site.baseurl}}/images/{{post.img}}"
               alt="{{post.title}}">
          {% else %}
          <img width="100%" src="{{site.baseurl}}/images/logo.png"
               alt="{{site.title}}">
          {% endif %}
          {% endif %}
          
          <div class="panel-body">
            <h3 class="panel-title pull-left">
              {{ post.title | truncate: 70 }}
            </h3>
            <br>
            <span class="post-meta pull-right"><small>
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                {% when '1' %}Enero,
                {% when '2' %}Febrero,
                {% when '3' %}Marzo,
                {% when '4' %}Abril,
                {% when '5' %}Mayo,
                {% when '6' %}Junio,
                {% when '7' %}Julio,
                {% when '8' %}Agosto,
                {% when '9' %}Septiembre,
                {% when '10' %}Octubre,
                {% when '11' %}Noviembre,
                {% when '12' %}Diciembre,
                {% endcase %}
                {{ post.date | date: "%Y" }}</small>
            </span>
            <div clas="pull-left">
              {% assign categ_sorted = post.categories | sort %}
              <span class="label label-default">
                {{categ_sorted[0]}}
              </span>
            </div>
            <div class="pull-right">
              <span>
                <small>
                  <a href="{{post.url | prepend: site.baseurl}}#disqus_thread">
                  </a> <i class="fa fa-comment"></i>
                </small>
              </span>
            </div>
          </div>
          
          <div class="panel-body"><small>
              {% if post.post_desc %}
              {{ post.post_desc | strip_html | strip_newlines | truncate: 180}}
              {% else %}
              {{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}
              {% endif %}
            </small>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    <!--- pagination---->
    <div class="col-md-12">
    {% if paginator.total_pages > 1 %}
    <ul class="pagination">
      {% if paginator.previous_page %}
      <li class="page-item">
        <a class="page-link"
           href="{{ paginator.previous_page_path | prepend: site.baseurl |
           replace: '//', '/' }}">
          &laquo; Nuevos</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo; Nuevos</a>
      </li>
      {% endif %}
      
      {% for page in (1..paginator.total_pages) %}
      {% if page == 1 %}
      <li
        {% if page == paginator.page %}
        class="page-item active">
        <span class="page-link">
          {{ page }}
          <span class="sr-only">(current)</span>
        </span>
        {% else %}
      class="page-item">
        <a class="page-link"
           href="{{ paginator.previous_page_path | prepend: site.baseurl |
                 replace: '//', '/' }}">{{page}}</a>
        {% endif %}
      </li>
    {% elsif page == paginator.page %}
      <li class="page-item active">
        <span class="page-link">
          {{ page }}
        <span class="sr-only">(current)</span>
        </span>
    </li>
      {% else %}
      <li class="page-item">
        <a class="page-link"
           href="{{ site.paginate_path | prepend: site.baseurl | replace: '//',
                 '/' | replace: ':num', page }}">{{page}}</a>
      </li> 
      {% endif %}
      {% endfor %}
      
      {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link"
           href="{{ paginator.next_page_path | prepend:
                 site.baseurl | replace: '//', '/' }}">Viejos &raquo;</a> 
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">Viejos &raquo;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
    <!--- end pagination----->
    </div>
  </div>
  {% include sidebar_index.html %}
</div><!--- row --->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 col-sm-2 col-xs-6">
    <h4>Análisis</h4>
    {% for category in site.categories %}
    {% if category[0] == "Análisis" %}
    {% assign sorted = (category[1] | sort: 'date' | reverse) %}
    {% for post in sorted limit: 6%}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}">
        <img class="crop-sidebar" src="{{post.imghtml}}">
        <div class="text-block"><h5>{{post.game | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div><!-- col-md-2 -->
  <div class="col-md-2 col-sm-2 col-xs-6">
    <h4>Rol en solitario</h4>
    {% for category in site.categories %}
    {% if category[0] == "Rol" %}
    {% assign sorted = (category[1] | sort: 'date' | reverse) %}
    {% for post in sorted limit: 6%}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}">
        <img class="crop-sidebar" src="{{post.imghtml}}">
        <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div><!-- col-md-2 -->
  <div class="col-md-2 col-sm-2 col-xs-6">
    <h4>Crowdfunding</h4>
    {% for category in site.categories %}
    {% if category[0] == "Crowdfunding" %}
    {% assign sorted = (category[1] | sort: 'date' | reverse) %}
    {% for post in sorted limit: 6 %}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}">
        <img class="crop-sidebar" src="{{post.imghtml}}">
        <div class="text-block"><h5>{{post.title | slice: 11, 100  | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div><!-- col-md-2 -->
  <div class="col-md-2 col-sm-2 col-xs-6">
    <h4>Demos</h4>
    {% for category in site.categories %}
    {% if category[0] == "Demos" %}
    {% assign sorted = (category[1] | sort: 'date' | reverse) %}
    {% for post in sorted limit: 6%}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}">
        <img class="crop-sidebar" src="{{post.imghtml}}">
        <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div><!-- col-md-3 -->
</div><!--- row -->

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 col-sm-2 col-xs-6">
    <h4>Print & Play</h4>
    {% for category in site.categories %}
    {% if category[0] == "Print & play" %}
    {% assign sorted = (category[1] | sort: 'date' | reverse) %}
    {% for post in sorted limit: 6%}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}">
        <img class="crop-sidebar" src="{{post.imghtml}}">
        <div class="text-block"><h5>{{post.game | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div><!-- col-md-2 -->
  <div class="col-md-2 col-sm-2 col-xs-6">
    <h4>General</h4>
    {% for category in site.categories %}
    {% if category[0] == "General" %}
    {% assign sorted = (category[1] | sort: 'date' | reverse) %}
    {% for post in sorted limit: 6%}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}">
        <img class="crop-sidebar" src="{{post.imghtml}}">
        <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div><!-- col-md-2 -->
  <div class="col-md-2 col-sm-2 col-xs-6">
    <h4>Noticias</h4>
    {% for category in site.categories %}
    {% if category[0] == "Noticias" %}
    {% assign sorted = (category[1] | sort: 'date' | reverse) %}
    {% for post in sorted limit: 6 %}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}">
        <img class="crop-sidebar" src="{{post.imghtml}}">
        <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div><!-- col-md-2 -->
   <div class="col-md-2 col-sm-2 col-xs-6">
    <h4>Primeras impresiones</h4>
    {% for category in site.categories %}
    {% if category[0] == "Primeras impresiones" %}
    {% assign sorted = (category[1] | sort: 'date' | reverse) %}
    {% for post in sorted limit: 6 %}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}">
        <img class="crop-sidebar" src="{{post.imghtml}}">
        <div class="text-block"><h5>{{post.title | slice: 23, 100 | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div><!-- col-md-2 -->
</div><!--- row -->


<div class="row"><div class="col-md-12"><br></div></div>

