---
layout: default
---

<div class="home">
 
  
    <div class="row pack">

        {% for post in paginator.posts %}   
            <div class="col-md-4 card">
             <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">    
                <div class="panel panel-default">

                  
                  {% if post.imghtml %}
                  <img width="100%" src="{{post.imghtml}}" alt="{{post.title}}">
                  {% else %}
                    {% if post.img %}
                    <img width="100%" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
                    {% else %}
                    <img width="100%" src="{{site.baseurl}}/images/logo.png"
                         alt="{{site.title}}">
                    {% endif %}
                  {% endif %}
                  
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">
                      {{ post.title | truncate: 55 }}
                    </h3>
                    <span class="post-meta pull-right"><small>
                        {% assign m = post.date | date: "%-m" %}
                        {{ post.date | date: "%-d" }}
                        {% case m %}
                        {% when '1' %}Ene,
                        {% when '2' %}Feb,
                        {% when '3' %}Mar,
                        {% when '4' %}Abr,
                        {% when '5' %}May,
                        {% when '6' %}Jun,
                        {% when '7' %}Jul,
                        {% when '8' %}Ago,
                        {% when '9' %}Sep,
                        {% when '10' %}Oct,
                        {% when '11' %}Nov,
                        {% when '12' %}Dic,
                        {% endcase %}
                        {{ post.date | date: "%Y" }}</small>
                    </span>
                  </div>
                  
                  <div class="panel-body"><small>
                      {% if post.post_desc %}
                      {{ post.post_desc | strip_html | strip_newlines | truncate: 180}}
                      {% else %}
                      {{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}
                      {% endif %}
                    </small>
                  </div>
                </div>
                </a>
            </div>
        
          {% endfor %}

    </div> 
    
<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pager">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Nuevos</a></li>
          {% else %}
            <li><span>&laquo; Nuevos</span></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><span style="background-color: #4582ec;color:white">{{ page }}</span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Viejos &raquo;</a></li>
          {% else %}
            <li><span >Viejos &raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    <div class="col-md-4">  </div>
</div>
</div>
