<footer>
    <div class="container">
        <div class="row p20">
            {% if site.copyright.name %}
            <div class="col-md-4 text-center mt25">
              <p><small>Todos los derechos reservados por:</small></p>
              <p><small><a target="_blank" href="{{site.copyright.link}}">
                  {{site.copyright.name}}</a></small></p>
              <p><small>Está prohibido utilizar el contenido de esta página para
              formar modelos de inteligencia artifical y/o datasets.</small></p>
            </div>
            {% endif %}

            <div class="col-md-4 text-center mt25">
              <a target="_blank"
                 href="https://bsky.app/profile/mazmorreo.bsky.social">
                <i class="fa-brands fa-bluesky"></i></a> 
              <a target="_blank"
                 href="https://twitter.com/mazmorreo">
                <i class="fa-brands fa-x-twitter"></i></a> 
              <a target="_blank" href="{{site.instagram}}">
                <i class="fa-brands fa-instagram"></i></a> 
              <a target="_blank" href="mailto:{{site.email}}">
                <i class="fa-solid fa-envelope"></i></a> 
              <a target="_blank" href="{{site.baseursl}}/feed.xml">
                <i class="fa-solid fa-rss"></i></a>
            </div>

        </div> 
    </div>
    <script id="dsq-count-scr"
            src="//mazmorreo-en-solitario.disqus.com/count.js" async>
    </script>
</footer>
