<footer>
    <div class="container">
        <div class="row p20">
            {% if site.copyright.name %}
            <div class="col-md-4 text-center mt25">
              <p>Todos los derechos reservados por:</p>
              <p><a target="_blank" href="{{site.copyright.link}}">
                  {{site.copyright.name}}</a></p>
            </div>
            {% endif %}

            <div class="col-md-4 text-center mt25">
               {% if site.twitter %}
                <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><i class="fa fa-twitter-square"></i></li></a>
                {% endif %}
                {% if site.instagram %}
                <a target="_blank" href="{{site.instagram}}"><li class="social
                instagram"><i class="fa fa-instagram"></i></li></a>
                {% endif %}
               {% if site.email %}
                <a target="_blank" href="mailto:{{site.email}}"><li class="social email"><i class="fa fa-envelope"></i></li></a>
                {% endif %}
                <a target="_blank" href="{{site.baseursl}}/feed.xml"><li class="social rss"><i class="fa fa-rss"></i></li></a>
            </div>

        </div> 
    </div>
    <script>
  (window.cookieconsent.initialise({
  "palette": { 
    "popup": { 
      "background": "#efefef", 
      "text": "#404040"  
    },  
    "button": {  
      "background": "#8ec760",  
      "text": "#ffffff"  
    }  
  },  
  "theme": "classic",  
  "content": {  
    "message": "Esta página utiliza cookies. Al navegar nos permites poner cookies en tu dispositivo.",  
    "dismiss": "¡Entendido!",  
    "link": "Más información", "href": "/acerca-de"
  }  
}));
    </script>
    <script id="dsq-count-scr"
            src="//mazmorreo-en-solitario.disqus.com/count.js" async>
    </script>
</footer>
