<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Blog especializado en los juegos de mesa y rol para un jugador">
<meta name="keywords" content="mazmorreo en solitario, solitario, un jugador,
                               modo solitario, juegos de mesa, rol, rol en
                               solitario, mazmorreo, print and play, solo, solomode, board games">
<meta name="twitter:site" content="@mazmorreo"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{site.title}}">
<meta name="twitter:image" content="{{page.imghtml}}"/>


{% seo %}
{% feed_meta %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
      href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">  
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script data-ad-client="ca-pub-7734157504598329" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- % if site.tags != "" % -->
<!-- % include collecttags.html % -->
<!-- % endif % -->
</head>
