<!--<div class="col-md-4 mt10">
  <div class="post-img">
    <img width="300"
         src="{{site.baseurl}}/images/logo.png"
         alt="Mazmorreo en solitario">
  </div>
</div>--->
<div class="col-md-4 mt20">
    <div class="mt10index">
      <img src="{{site.baseurl}}/images/lazo-luto.png">
      <p><small>Víctimas de la DANA</small></p>
    </div>
  <div class="mt10">
    <h4>Ayuda a esta página</h4>
    <script type='text/javascript'
    src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('¡Invítame
    a un café!', '#29abe0', 'G2G11C3DK');kofiwidget2.draw();</script>
  </div>
  <div class="mt10">
    <h4>En las redes</h4>
      <a target="_blank" href="https://twitter.com/mazmorreo"><li class="social twitter"><i class="fa fa-twitter-square"></i></li></a>
      {% if site.instagram %}
      <a target="_blank" href="{{site.instagram}}"><li class="social
                                                              instagram"><i class="fa fa-instagram"></i></li></a>
      {% endif %}
      {% if site.email %}
      <a target="_blank" href="mailto:{{site.email}}"><li class="social email"><i class="fa fa-envelope"></i></li></a>
      {% endif %}
      <a target="_blank" href="{{site.baseursl}}/feed.xml"><li class="social rss"><i class="fa fa-rss"></i></li></a>
  </div>
  <!-- <div class="mt10index"> -->
  <!--   <img src="{{site.baseurl}}/images/fiestas.png"> -->
    <!-- </div> -->
  <div class="mt10index">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7734157504598329"
     crossorigin="anonymous"></script>
    <!-- sidebar-aws-replaement -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="8236215069"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="mt10index">
    <h4>Tiendas afiliadas</h4>
    <a href="https://www.philibertnet.com/en/#ae447"><img src="https://lb.affilae.com/imp/5bf52e77e2891d7d00f2e8af/5feb54c8888f143432e298a4/5cd976224b107f49ec5b7af2/https://s3-eu-west-1.amazonaws.com/aeup/uploads/programs/5bf52e77e2891d7d00f2e8af/elements/5cd976224b107f49ec5b7af0.png"/></a>
    <p align="center"><strong><small>¡Envío con Punto Pack a España por 2.95€!</small></strong></p>
    <a href="https://zacatrus.es#u97"><img src="https://cf.geekdo-images.com/iTLNi2G5neh548ulgp9L-w__imagepage/img/5KTkFxYAW8YOwMp9Zce_-Q_9O_k=/fit-in/900x600/filters:no_upscale():strip_icc()/pic2239623.png"></a>
  </div>
  <div class="mt10">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar post top -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="2387260503"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="mt10">
    <h4>Lo más leído</h4>
    <div id="most-read"></div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2020/01/09/rol-10-juegos-aventuras-para-2020/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2020/05/16/rol-en-solitario-como-empiezo/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/03/04/general-top-100-bgg-solitario-p1/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2026/02/12/tops-juegos-no-jugados-en-2025/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/03/27/general-top-100-bgg-solitario-p4/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/01/09/rol-10-juegos-aventuras-para-2021/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2019/03/09/analisis-maquis/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/05/16/listas-5-juegos-del-espacio/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2019/01/26/analisis-micro-city/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2020/02/15/analisis-12-patrols/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
<span id="dummy"></span>
  </div>
  <div class="mt10">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar post -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="8121352814"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="mt10">
    <h4>Etiquetas más populares</h4>
    <p class="text-left">
      {% for tag in site.tags %}
      {% if tag[0] == "Print & play"
      or tag[0] == "Tops"
      or tag[0] == "9 Card Game Print & Play Design Contest"
      or tag[0] == "One Page Dungeon"
      or tag[0] == "Alone Among the Stars"
      or tag[0] == "Disciples of Bone and Shadow"
      or tag[0] == "Root: Los Cachivaches"
      or tag[0] == "Dungeons of Doria"
      or tag[0] == "El bosque de los espiritus"
      or tag[0] == "Friday"
      or tag[0] == "Glory: A Game of Knights"
      or tag[0] == "Ironsworn"
      or tag[0] == "Navajo Wars"
      or tag[0] == "Neverland: A Fantasy Role-Playing Setting"
      or tag[0] == "Reinos de Papel: Más allá de las puertas"
      or tag[0] == "Sniper Kill Confirmed"
      or tag[0] == "The Lord of the Rings: Journeys in Middle-Earth"
      or tag[0] == "Aleph Null"
      or tag[0] == "Ambon: Burning Sun & Little Seagulls"
      or tag[0] == "Carnegie"
      or tag[0] == "Cascadia"
      or tag[0] == "Concordia"
      or tag[0] == "Cosmonaves"
      or tag[0] == "D-Day at Omaha Beach"
      or tag[0] == "D-Day Dice"
      or tag[0] == "Dawn of the Zeds"
      or tag[0] == "Dominion: Intrigue"
      or tag[0] == "El Imperio del Sol"
      or tag[0] == "El Señor de los Anillos: Viajes por la Tierra Media"
      or tag[0] == "Emberleaf"
      or tag[0] == "Essen SPIEL 2019"
      or tag[0] == "Essen SPIEL 2021"
      or tag[0] == "Everdell"
      or tag[0] == "Faiyum"
      or tag[0] == "Fields of Arle"
      or tag[0] == "Five Parsecs From Home"
      or tag[0] == "Formidable Farm"
      or tag[0] == "Gladiator Gauntlet"
      or tag[0] == "Glasgow"
      or tag[0] == "Gloomhaven: Buttons & Bugs"
      or tag[0] == "Horizons of Spirit Island"
      or tag[0] == "Light in the Dark"
      or tag[0] == "Nevsky: Teutons and Rus in Collision"
      or tag[0] == "Pathfinder Adventure Card Game"
      or tag[0] == "Pavlov's House"
      or tag[0] == "Shadows of Brimstone"
      or tag[0] == "Star Wars: El Borde Exterior"
      or tag[0] == "Star Wars: Imperial Assault"
      or tag[0] == "Super-Skill Pinball: 4-Cade"
      or tag[0] == "Teotihuacán: Preclásico Tardío"
      or tag[0] == "The Dark Valley"
      or tag[0] == "The Last Hundred Yards"
      or tag[0] == "The Siege of Runedar"
      or tag[0] == "Tiletum"
      or tag[0] == "Traces of War"
      or tag[0] == "Trickerion: Legends of Illusion"
      or tag[0] == "VUCA Simulations"
      or tag[0] == "Witchdom"
      or tag[0] == "Zombicide"
      or tag[0] == "54 Card Game Design Contest"
      or tag[0] == "Legends Untold"
      or tag[0] == "Imperium: Classics"
      or tag[0] == "Ark Nova"
      or tag[0] == "Terraforming Mars"
      or tag[0] == "Reinos de Papel"
      or tag[0] == "Curious Cargo"
      or tag[0] == "Lux Aeterna"
      or tag[0] == "Dungeon Exit" %}
<span class="label label-danger"><strong>#<a class="tag-color"
        href="/etiqueta/{{tag[0] | slugify: "latin"}}">{{tag[0]}}</a></strong></span> 
      {% endif %}
      {% endfor %}
    </p>
  </div>
  <div class="mt10">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7734157504598329"
     crossorigin="anonymous"></script>
    <!-- sidebar-aws-replaement -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="8236215069"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="mt10">
    <h4>Análisis más leídos</h4>
    <div id="top-analisis"></div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2019/03/09/analisis-maquis/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>1. {{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2019/01/26/analisis-micro-city/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>2. {{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
        <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2020/02/15/analisis-12-patrols/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>3. {{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
      </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/09/13/rol-old-school-essentials-advanced-fantasy/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
        <div class="text-block"><h5>4. {{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2022/03/23/analisis-infranqueable/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>5. {{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
  </div>

  <br>
  <!-- <div class="mt10"> -->
  <!--   <a class="twitter-timeline" -->
  <!--      href="https://twitter.com/mazmorreo?ref_src=twsrc%5Etfw" -->
  <!--      data-tweet-limit="3">Tweets por -->
  <!--     mazmorreo</a> <script async src="https://platform.twitter.com/widgets.js" -->
  <!--                           charset="utf-8"></script> -->
  <!-- </div> -->
  <div class="mt10">
    <h4>Artículos recientes</h4>
    {% for post in site.related_posts limit:5 %}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
  </div>
  <div class="mt10">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar post bottom -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="6164293374"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="mt10">
    <h4>Los solitarios  mejor valorados</h4>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2019/09/16/analisis-terraforming-mars/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.score}}/5 — {{post.game | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2023/09/03/analisis-cascadia/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>4.5/5 — {{post.game | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/06/21/analisis-root/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>4/5 — {{post.game | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2024/04/29/analisis-factory-funner/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>4/5 — {{post.game| truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2019/12/29/analisis-legends-untold-the-weeping-caves/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>4/5 — {{post.game | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
  </div>
  <div class="mt10">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar psot bottom vertical -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="9751674155"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  
</div>
