<!--<div class="col-md-4 mt20">
  <div class="post-img">
    <img width="600"
         src="{{site.baseurl}}/images/logo.png"
         alt="Mazmorreo en solitario">
  </div>-->
<div class="col-md-4 mt20">
  <div class="mt10">
    <h4>Ayuda a esta página</h4>
    <script type='text/javascript'
    src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('¡Invítame
    a un café!', '#29abe0', 'G2G11C3DK');kofiwidget2.draw();</script>
  </div>
  <div class="mt10">
    <h4>En las redes</h4>
      {% if site.twitter %}
      <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><i class="fa fa-twitter-square"></i></li></a>
      {% endif %}
      {% if site.instagram %}
      <a target="_blank" href="{{site.instagram}}"><li class="social
                                                              instagram"><i class="fa fa-instagram"></i></li></a>
      {% endif %}
      {% if site.email %}
      <a target="_blank" href="mailto:{{site.email}}"><li class="social email"><i class="fa fa-envelope"></i></li></a>
      {% endif %}
      <a target="_blank" href="{{site.baseursl}}/feed.xml"><li class="social rss"><i class="fa fa-rss"></i></li></a>
  </div>
  <div class="mt10index">
    <h4>Tiendas afiliadas</h4>
    <a href="https://www.philibertnet.com/en/#ae447-11"><img src="https://lb.affilae.com/imp/5bf52e77e2891d7d00f2e8af/5feb54c8888f143432e298a4/5cd976224b107f49ec5b7af2/https://s3-eu-west-1.amazonaws.com/aeup/uploads/programs/5bf52e77e2891d7d00f2e8af/elements/5cd976224b107f49ec5b7af0.png"/></a>
    <p align="center">
    <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=42&l=ez&f=ifr&linkID=38447a7d69b1affe71866e3e87e86c1e&t=mazmorreo-21&tracking_id=mazmorreo-21"
    width="234" height="60" scrolling="no" border="0" marginwidth="0"
    style="border:none;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="mt10">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar page -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="3746993530"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="mt10">
    <h4>Lo más leído</h4>
    <div id="most-read"></div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/05/16/rol-en-solitario-como-empiezo/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2021/01/31/rol-zinequest-3-en-solitario/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/01/09/rol-10-juegos-aventuras-para-2020/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2021/02/07/crowdfunding-0125-0207/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/11/07/noticias-csr-awards-2020/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2019/07/23/analisis-orchard/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/04/30/noticias-golden-geek-awards-2019/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2021/02/14/crowdfunding-0208-0214/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2021/01/09/rol-10-juegos-aventuras-para-2021/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2021/02/13/primeras-impresiones-faiyum/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
<span id="dummy"></span>
  </div>
  <div class="mt10">
    <h4>Etiquetas más populares</h4>
    <p class="text-left">
      {% for tag in site.tags %}
      {% if tag[0] == "Ironsworn"
      or tag[0] == "Stellar Horizons"
      or tag[0] == "9 Card Game Print & Play Design Contest"
      or tag[0] == "El Señor de los Anillos: Viajes por la Tierra Media"
      or tag[0] == "Undaunted: Normandy"
      or tag[0] == "Tainted Grail: La caída de Ávalon"
      or tag[0] == "Barrage"
      or tag[0] == "Gloomhaven: Jaws of the Lion"
      or tag[0] == "Root: Los Cachivaches"
      or tag[0] == "Seekers Beyond The Shroud"
      or tag[0] == "Etherfields"
      or tag[0] == "Fábulas de Peluche"
      or tag[0] == "Everdell"
      or tag[0] == "Expansiópolis"
      or tag[0] == "Praga Caput Regni"
      or tag[0] == "Boletín Informativo Solitario"
      or tag[0] == "Disciples of Bone and Shadow"
      or tag[0] == "El Imperio del Sol"
      or tag[0] == "Kickstarter"
      or tag[0] == "Labyrinth Lord"
      or tag[0] == "Mothership"
      or tag[0] == "Old-School Essentials"
      or tag[0] == "One Deck Dungeon"
      or tag[0] == "Rol"
      or tag[0] == "Scarlet Heroes"
      or tag[0] == "Scythe: El Auge de Fenris"
      or tag[0] == "A Thousand Year Old Vampire"
      or tag[0] == "Colonos del Imperio: Imperios del Norte"
      or tag[0] == "Compass Games"
      or tag[0] == "Descent Into The Abyss"
      or tag[0] == "Do Not Let Us Die In The Dark Night Of This Cold Winter"
      or tag[0] == "Ennie"
      or tag[0] == "Four Against Darkness"
      or tag[0] == "GMT Games"
      or tag[0] == "Hallertau"
      or tag[0] == "Héroes de Terrinoth"
      or tag[0] == "Heroes of Terrinoth"
      or tag[0] == "Ironsworn: Delve"
      or tag[0] == "Legends Untold"
      or tag[0] == "Merv: The Heart of the Silk Road"
      or tag[0] == "Neverland: A Fantasy Role-Playing Setting"
      or tag[0] == "One Page Dungeon"
      or tag[0] == "Pandemic: La caída de Roma"
      or tag[0] == "Pax Pamir"
      or tag[0] == "Pico, Pluma & Hueso"
      or tag[0] == "Reinos de Papel: Más allá de las puertas"
      or tag[0] == "Res Arcana"
      or tag[0] == "Root: Riverfolk"
      or tag[0] == "Root"
      or tag[0] == "Ruins of the Undercity"
      or tag[0] == "The 7th Continent"
      or tag[0] == "The City of Kings"
      or tag[0] == "The Veil"
      or tag[0] == "Zine Quest 3" %}
<span class="label label-danger"><strong>#<a class="tag-color"
        href="/etiqueta/{{tag[0] | slugify: "latin"}}">{{tag[0]}}</a></strong></span> 
      {% endif %}
      {% endfor %}
    </p>
  </div>
  <div class="mt10">
    <h4>Artículos recientes</h4>
    {% for post in site.posts limit:5 %}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
  </div>
  <div class="mt10">
    <h4>Entidades colaboradoras</h4>
    <div class="row">
      <div class="col-md-6">
        <a href="https://www.misifu.es/" target="_blank">
          <img src="{{site.baseurl}}/images/logo-misifu-juegosdemesa.png"
               alt="Misifu">
        </a>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

