<!--<div class="col-md-4 mt20">
  <div class="post-img">
    <img width="600"
         src="{{site.baseurl}}/images/logo.png"
         alt="Mazmorreo en solitario">
  </div>-->
  <div class="col-md-4 mt20">
    <div class="mt10index">
    <img src="{{site.baseurl}}/images/lazo-luto.png">
    </div>
  <div class="mt10">
    <h4>Ayuda a esta página</h4>
    <script type='text/javascript'
    src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('¡Invítame
    a un café!', '#29abe0', 'G2G11C3DK');kofiwidget2.draw();</script>
  </div>
  <div class="mt10">
    <h4>En las redes</h4>
      <a target="_blank" href="https://twitter.com/mazmorreo"><li class="social twitter"><i class="fa fa-twitter-square"></i></li></a>
      {% if site.instagram %}
      <a target="_blank" href="{{site.instagram}}"><li class="social
                                                              instagram"><i class="fa fa-instagram"></i></li></a>
      {% endif %}
      {% if site.email %}
      <a target="_blank" href="mailto:{{site.email}}"><li class="social email"><i class="fa fa-envelope"></i></li></a>
      {% endif %}
      <a target="_blank" href="{{site.baseursl}}/feed.xml"><li class="social rss"><i class="fa fa-rss"></i></li></a>
  </div>
  <!-- <div class="mt10index"> -->
  <!--   <img src="{{site.baseurl}}/images/fiestas.png"> -->
    <!-- </div> -->
  <div class="mt10index">
    <h4>Tiendas afiliadas</h4>
    <a href="https://www.philibertnet.com/en/#ae447"><img src="https://lb.affilae.com/imp/5bf52e77e2891d7d00f2e8af/5feb54c8888f143432e298a4/5cd976224b107f49ec5b7af2/https://s3-eu-west-1.amazonaws.com/aeup/uploads/programs/5bf52e77e2891d7d00f2e8af/elements/5cd976224b107f49ec5b7af0.png"/></a>
    <p align="center"><strong><small>¡Envío con Punto Pack a España por 2.95€!</small></strong></p>
    <a href="https://zacatrus.es#u97"><img src="https://cf.geekdo-images.com/iTLNi2G5neh548ulgp9L-w__imagepage/img/5KTkFxYAW8YOwMp9Zce_-Q_9O_k=/fit-in/900x600/filters:no_upscale():strip_icc()/pic2239623.png"></a>
  </div>
  <div class="mt10">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar page -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="3746993530"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="mt10">
    <h4>Lo más leído</h4>
    <div id="most-read"></div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2020/01/09/rol-10-juegos-aventuras-para-2020/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2020/05/16/rol-en-solitario-como-empiezo/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2018/12/15/analisis-one-deck-dungeon/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/03/04/general-top-100-bgg-solitario-p1/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/03/27/general-top-100-bgg-solitario-p4/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2023/07/16/noticias-csr-awards-2022/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2022/05/08/noticias-boletin-abril-2022/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/01/09/rol-10-juegos-aventuras-para-2021/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2024/11/06/analisis-dungeon-exit/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/12/13/general-top-200-1pg-solitario-p3/" %}       {% for post in target-posts %}

      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
<span id="dummy"></span>
  </div>
  <div class="mt10">
    <h4>Etiquetas más populares</h4>
    <p class="text-left">
      {% for tag in site.tags %}
      {% if tag[0] == "El mes en juegos"
      or tag[0] == "Disciples of Bone and Shadow"
      or tag[0] == "Ironsworn: Starforged"
      or tag[0] == "Old-School Essentials"
      or tag[0] == "Forbidden Lands"
      or tag[0] == "Print & play"
      or tag[0] == "Ruins of the Undercity"
      or tag[0] == "Twilight Imperium"
      or tag[0] == "Aeon's End"
      or tag[0] == "Arkwright: The Card Game"
      or tag[0] == "Charles S. Roberts Awards"
      or tag[0] == "D-Day at Omaha Beach"
      or tag[0] == "Darwin's Journey"
      or tag[0] == "Gloomhaven: Fauces del León"
      or tag[0] == "Iron Helm"
      or tag[0] == "Ironsworn: Delve"
      or tag[0] == "Labyrinth Lord"
      or tag[0] == "Las Mansiones de la Locura"
      or tag[0] == "Marvel Champions: The Card Game"
      or tag[0] == "Messina 1347"
      or tag[0] == "NAC Wargames"
      or tag[0] == "One Deck Dungeon"
      or tag[0] == "One Page Dungeon"
      or tag[0] == "OSR"
      or tag[0] == "Pathfinder"
      or tag[0] == "Scarlet Heroes"
      or tag[0] == "Scythe"
      or tag[0] == "Sherlock Holmes Detective Asesor"
      or tag[0] == "Tainted Grail"
      or tag[0] == "The 7th Citadel"
      or tag[0] == "Through the Ages: A New Story of Civilization"
      or tag[0] == "Too Many Bones"
      or tag[0] == "Tops"
      or tag[0] == "Tussie Mussie"
      or tag[0] == "Undaunted: North Africa" %}
<span class="label label-danger"><strong>#<a class="tag-color"
        href="/etiqueta/{{tag[0] | slugify: "latin"}}">{{tag[0]}}</a></strong></span> 
      {% endif %}
      {% endfor %}
    </p>
  </div>
  <div class="mt10">
    <h4>Artículos recientes</h4>
    {% for post in site.posts limit:5 %}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
  </div>
  <!-- <div class="mt10"> -->
  <!--   <h4>Entidades colaboradoras</h4> -->
  <!--   <div class="row"> -->
  <!--     <div class="col-md-6"> -->
  <!--       <a href="https://www.misifu.es/" target="_blank"> -->
  <!--         <img src="{{site.baseurl}}/images/logo-misifu-juegosdemesa.png" -->
  <!--              alt="Misifu"> -->
  <!--       </a> -->
  <!--       <br> -->
  <!--       <br> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
</div>

