<!--<div class="col-md-4 mt20">
  <div class="post-img">
    <img width="600"
         src="{{site.baseurl}}/images/logo.png"
         alt="Mazmorreo en solitario">
  </div>-->
<div class="col-md-4 mt20">
  <div class="mt10">
    <h4>Ayuda a esta página</h4>
    <script type='text/javascript'
    src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('¡Invítame
    a un café!', '#29abe0', 'G2G11C3DK');kofiwidget2.draw();</script>
  </div>
  <div class="mt10">
    <h4>En las redes</h4>
      {% if site.twitter %}
      <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><i class="fa fa-twitter-square"></i></li></a>
      {% endif %}
      {% if site.instagram %}
      <a target="_blank" href="{{site.instagram}}"><li class="social
                                                              instagram"><i class="fa fa-instagram"></i></li></a>
      {% endif %}
      {% if site.email %}
      <a target="_blank" href="mailto:{{site.email}}"><li class="social email"><i class="fa fa-envelope"></i></li></a>
      {% endif %}
      <a target="_blank" href="{{site.baseursl}}/feed.xml"><li class="social rss"><i class="fa fa-rss"></i></li></a>
  </div>
  <div class="mt10">
    <h4>Lo más leído</h4>
    <div id="most-read"></div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/05/16/rol-en-solitario-como-empiezo/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/01/09/rol-10-juegos-aventuras-para-2020/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/12/02/listas-5-juegos-de-construir-cosas/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/04/30/noticias-golden-geek-awards-2019/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2019/07/23/analisis-orchard/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/11/30/noticias-boletin-noviembre-2020/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/07/31/noticias-boletin-julio-2020/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2019/09/16/analisis-terraforming-mars/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2019/01/16/analisis-colonos-del-imperio/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2019/03/14/analisis-pocket-mars/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
<span id="dummy"></span>
  </div>
    <div id="590077865">
      <script type="text/javascript">
        try {window._mNHandle.queue.push(function (){
        window._mNDetails.loadTag("590077865", "300x250", "590077865");
        });}catch (error) {}
      </script>
    </div>
  <div class="mt10">
    <h4>Etiquetas más populares</h4>
    <p class="text-left">
      {% for tag in site.tags %}
      {% if tag[0] == "Ironsworn"
      or tag[0] == "Etherfields"
      or tag[0] == "Boletín Informativo Solitario"
      or tag[0] == "Labyrinth Lord"
      or tag[0] == "Seekers Beyond The Shroud"
      or tag[0] == "Curious Cargo"
      or tag[0] == "Ironsworn: Delve"
      or tag[0] == "Pandemic: La caída de Roma"
      or tag[0] == "El Imperio del Sol"
      or tag[0] == "Fábulas de Peluche"
      or tag[0] == "Golden Geek"
      or tag[0] == "Héroes de Terrinoth"
      or tag[0] == "Mörk Borg"
      or tag[0] == "Nemesis"
      or tag[0] == "One Page Dungeon"
      or tag[0] == "Pax Pamir"
      or tag[0] == "Tainted Grail: La caída de Ávalon"
      or tag[0] == "Undaunted: Normandy"
      or tag[0] == "Arquitectos del Reino del Oeste"
      or tag[0] == "Barrage"
      or tag[0] == "Burgle Bros 2: The Casino Capers"
      or tag[0] == "Dwellings of Eldervale"
      or tag[0] == "Everdell"
      or tag[0] == "Gugong"
      or tag[0] == "Maquis"
      or tag[0] == "One Deck Dungeon"
      or tag[0] == "Rome & Roll"
      or tag[0] == "Scarlet Heroes"
      or tag[0] == "Scythe: El Auge de Fenris"
      or tag[0] == "Space Empires"
      or tag[0] == "Teenage Mutant Ninja Turtles: City Fall"
      or tag[0] == "The Colonists"
      or tag[0] == "Tiny Towns"
      or tag[0] == "Tops" %}
<span class="label label-danger"><strong>#<a class="tag-color"
        href="/etiqueta/{{tag[0] | slugify: "latin"}}">{{tag[0]}}</a></strong></span> 
      {% endif %}
      {% endfor %}
    </p>
  </div>
  <div class="mt10">
    <h4>Artículos recientes</h4>
    {% for post in site.posts limit:5 %}
    <div class="image-container">
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
    </div>
    {% endfor %}
  </div>
  <div class="mt10">
    <h4>Entidades colaboradoras</h4>
    <div class="row">
      <div class="col-md-6">
        <a href="https://www.misifu.es/" target="_blank">
          <img src="{{site.baseurl}}/images/logo-misifu-juegosdemesa.png"
               alt="Misifu">
        </a>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

