
<div class="col-md-2">
  <div class="mt10index">
    <h4>Ayuda a esta página</h4>
    <script type='text/javascript'
            src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('¡Invítame
      a un café!', '#29abe0', 'G2G11C3DK');kofiwidget2.draw();</script>
  </div>
  <div class="mt10index">
    <h4>En las redes</h4>
      <a target="_blank" href="https://twitter.com/mazmorreo"><li class="social twitter"><i class="fa fa-twitter-square"></i></li></a>
      {% if site.instagram %}
      <a target="_blank" href="{{site.instagram}}"><li class="social
                                                              instagram"><i class="fa fa-instagram"></i></li></a>
      {% endif %}
      {% if site.email %}
      <a target="_blank" href="mailto:{{site.email}}"><li class="social email"><i class="fa fa-envelope"></i></li></a>
      {% endif %}
      <a target="_blank" href="{{site.baseursl}}/feed.xml"><li class="social rss"><i class="fa fa-rss"></i></li></a>
  </div>
  <!-- <div class="mt10index"> -->
  <!--   <img src="{{site.baseurl}}/images/fiestas.png"> -->
  <!-- </div> -->
  <div class="mt10index">
    <h4>Tiendas afiliadas</h4>
    <a href="https://www.philibertnet.com/en/#ae447"><img src="https://lb.affilae.com/imp/5bf52e77e2891d7d00f2e8af/5feb54c8888f143432e298a4/5cd976224b107f49ec5b7af2/https://s3-eu-west-1.amazonaws.com/aeup/uploads/programs/5bf52e77e2891d7d00f2e8af/elements/5cd976224b107f49ec5b7af0.png"/></a>
    <p align="center"><strong><small>¡Envío con Punto Pack a España por 2.95€!</small></strong></p>
    <a href="https://zacatrus.es#u97"><img src="https://cf.geekdo-images.com/iTLNi2G5neh548ulgp9L-w__imagepage/img/5KTkFxYAW8YOwMp9Zce_-Q_9O_k=/fit-in/900x600/filters:no_upscale():strip_icc()/pic2239623.png"></a>
    <p align="center">
    <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=20&l=ez&f=ifr&linkID=5ac6382008988ffc0812e38830f2df18&t=mazmorreo-21&tracking_id=mazmorreo-21"
    width="120" height="90" scrolling="no" border="0" marginwidth="0"
    style="border:none;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="mt10index">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar index -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="9139276233"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="mt10index">
    <h4>Etiquetas más populares</h4>
    <p class="text-left">
      {% for tag in site.tags %}
      {% if tag[0] == "Tops"
      or tag[0] == "Resistid"
      or tag[0] == "Five Leagues From The Borderlands"
      or tag[0] == "Voidfall"
      or tag[0] == "Disciples of Bone and Shadow"
      or tag[0] == "Four Against Darkness"
      or tag[0] == "Gladiator Gauntlet"
      or tag[0] == "Messina 1347"
      or tag[0] == "Print & play"
      or tag[0] == "Scarlet Heroes"
      or tag[0] == "Cascadia"
      or tag[0] == "High Frontier 4 All"
      or tag[0] == "Las Ruinas Perdidas de Arnak"
      or tag[0] == "Mörk Borg"
      or tag[0] == "Pequeños Grandes Zombis"
      or tag[0] == "Robinson Crusoe"
      or tag[0] == "Seekers Beyond The Shroud"
      or tag[0] == "The Search for Planet X"
      or tag[0] == "The Wretched"
      or tag[0] == "Tin Helm"
      or tag[0] == "9 Card Game Print & Play Design Contest"
      or tag[0] == "After The Virus"
      or tag[0] == "Cartographers"
      or tag[0] == "Dinosaur World"
      or tag[0] == "Dune: Imperium"
      or tag[0] == "Dungeon Degenerates"
      or tag[0] == "El mes en juegos"
      or tag[0] == "Enemy Action: Ardennes"
      or tag[0] == "Etherfields"
      or tag[0] == "Factory Funner"
      or tag[0] == "Five Parsecs From Home"
      or tag[0] == "Forgotten Waters"
      or tag[0] == "Iron Helm"
      or tag[0] == "Ironsworn: Starforged"
      or tag[0] == "Lacrimosa"
      or tag[0] == "Maracaibo"
      or tag[0] == "Mausritter"
      or tag[0] == "Mythic"
      or tag[0] == "Next War: Vietnam"
      or tag[0] == "Obsession"
      or tag[0] == "Old-School Essentials"
      or tag[0] == "Oneironaut"
      or tag[0] == "OSR"
      or tag[0] == "Praga Caput Regni"
      or tag[0] == "Res Arcana"
      or tag[0] == "Ronin"
      or tag[0] == "Ruins of the Undercity"
      or tag[0] == "Saqueadores de Escitia"
      or tag[0] == "Sniper Kill Confirmed"
      or tag[0] == "Spiel des Jahres"
      or tag[0] == "Star Wars: Rebellion"
      or tag[0] == "Street Masters"
      or tag[0] == "Sword & Sorcery"
      or tag[0] == "Tome of Adventure Design"
      or tag[0] == "Too Many Bones"
      or tag[0] == "Trailblazers"
      or tag[0] == "Trickerion: Legends of Illusion"
      or tag[0] == "Ultimate Railroads" %}
<span class="label label-danger"><strong>#<a class="tag-color"
                                                   href="/etiqueta/{{tag[0] | slugify: "latin"}}">{{tag[0]}}</a></strong></span> 
      {% endif %}
      {% endfor %}
    </p>
  </div>
  <div class="mt10index">
    <h4>Lo más leído</h4>
    <div id="most-read"></div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2023/08/31/listas-5-juegos-de-rutas/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2020/01/09/rol-10-juegos-aventuras-para-2020/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2020/05/16/rol-en-solitario-como-empiezo/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2023/09/01/partidas-mes-agosto-23/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/05/16/listas-5-juegos-del-espacio/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2020/12/09/listas-5-juegos-de-batallitas-o-gueras/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/03/27/general-top-100-bgg-solitario-p4/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2018/11/05/analisis-mini-rogue/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2020/12/02/listas-5-juegos-de-construir-cosas/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
    <div class="image-container">
      {% assign target-posts = site.posts | where: "url","/2021/03/04/general-top-100-bgg-solitario-p1/" %}
       {% for post in target-posts %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endfor %}
    </div>
<span id="dummy"></span>
  </div>
  <div class="mt10index">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar index bottom -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="7936733565"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>

