<!--<div class="col-md-4 mt10">
  <div class="post-img">
    <img width="300"
         src="{{site.baseurl}}/images/logo.png"
         alt="Mazmorreo en solitario">
  </div>
</div>--->
<div class="col-md-4 mt20">
  <div class="mt10 recent">
    <h4>Artículos recientes</h4>
    <ul>
      {% for post in site.related_posts limit:5 %}
      <li>
        <p class="text-left">
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
          <small>
            &nbsp;&nbsp;
            {% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d" }}
            {% case m %}
            {% when '1' %}Ene,
            {% when '2' %}Feb,
            {% when '3' %}Mar,
            {% when '4' %}Abr,
            {% when '5' %}May,
            {% when '6' %}Jun,
            {% when '7' %}Jul,
            {% when '8' %}Ago,
            {% when '9' %}Sep,
            {% when '10' %}Oct,
            {% when '11' %}Nov,
                            {% when '12' %}Dic,
            {% endcase %}
            {{ post.date | date: "%Y"}}
          </small>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div clas="mt10">
    <h4>Etiquetas más populares</h4>
    <p class="text-left">
      {% for tag in site.tags %}
      {% if tag[0] == "Print & play"
      or tag[0] == "Expansiópolis"
      or tag[0] == "9 Card Game Print & Play Design Contest"
      or tag[0] == "Bios: Origins 2"
      or tag[0] == "Cataclysm: A Second World War"
      or tag[0] == "Essen Spiel"
      or tag[0] == "Everdell"
      or tag[0] == "Heroes of Terrinoth"
      or tag[0] == "Mothership"
      or tag[0] == "Nemesis"
      or tag[0] == "Reinos de Papel"
      or tag[0] == "Root: Riverfolk"
      or tag[0] == "A Feast for Odin: The Norwegians"
      or tag[0] == "Colonos del Imperio"
      or tag[0] == "Crónicas del Crimen"
      or tag[0] == "Essen Spiel 2019"
      or tag[0] == "Expansión"
      or tag[0] == "Legends Untold"
      or tag[0] == "OSR"
      or tag[0] == "Rol"
      or tag[0] == "Running Quest: Soul Raiders"
      or tag[0] == "Snowdonia"
      or tag[0] == "The 7th Citadel"
      or tag[0] == "Veinscrawl"
      or tag[0] == "Waste Knights" %}
<span class="label label-danger">#<a class="tag-color"
        href="/etiqueta/{{tag[0] | slugify: "latin"}}">{{tag[0]}}</a></span> 
      {% endif %}
      {% endfor %}
    </p>
  </div>
  <div class="mt10">
    <h4>Entidades colaboradoras</h4>
    <div class="row">
      <div class="col-md-6">
        <a href="https://www.misifu.es/" target="_blank">
          <img src="{{site.baseurl}}/images/logo-misifu-juegosdemesa.png"
               alt="Misifu">
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="mt10">
    <a class="twitter-timeline"
       href="https://twitter.com/mazmorreo?ref_src=twsrc%5Etfw"
       data-tweet-limit="5">Tweets por
      mazmorreo</a> <script async src="https://platform.twitter.com/widgets.js"
                            charset="utf-8"></script>
  </div>
</div>
