
<div class="col-md-2">
  <div class="mt10index">
    <h4>Ayuda a esta página</h4>
    <script type='text/javascript'
            src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('¡Invítame
      a un café!', '#29abe0', 'G2G11C3DK');kofiwidget2.draw();</script>
  </div>
  <div class="mt10index">
    <h4>En las redes</h4>
      {% if site.twitter %}
      <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><i class="fa fa-twitter-square"></i></li></a>
      {% endif %}
      {% if site.instagram %}
      <a target="_blank" href="{{site.instagram}}"><li class="social
                                                              instagram"><i class="fa fa-instagram"></i></li></a>
      {% endif %}
      {% if site.email %}
      <a target="_blank" href="mailto:{{site.email}}"><li class="social email"><i class="fa fa-envelope"></i></li></a>
      {% endif %}
      <a target="_blank" href="{{site.baseursl}}/feed.xml"><li class="social rss"><i class="fa fa-rss"></i></li></a>
  </div>
  <div class="mt10index">
    <h4>Tiendas afiliadas</h4>
    <a href="https://www.philibertnet.com/en/#ae447-11"><img src="https://lb.affilae.com/imp/5bf52e77e2891d7d00f2e8af/5feb54c8888f143432e298a4/5cd976224b107f49ec5b7af2/https://s3-eu-west-1.amazonaws.com/aeup/uploads/programs/5bf52e77e2891d7d00f2e8af/elements/5cd976224b107f49ec5b7af0.png"/></a>
    <p align="center"><strong><small>¡Envío con Punto Pack a España por 2.95€!</small></strong></p>
    <p align="center">
    <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=12&l=ez&f=ifr&linkID=d6ac1a64de8e80f9eb87aa2d5cbaf4b5&t=mazmorreo-21&tracking_id=mazmorreo-21"
    width="300" height="250" scrolling="no" border="0" marginwidth="0"
    style="border:none;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="mt10index">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar index -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="9139276233"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="mt10index">
    <h4>Etiquetas más populares</h4>
    <p class="text-left">
      {% for tag in site.tags %}
      {% if tag[0] == "Tops"
      or tag[0] == "Print & play"
      or tag[0] == "9 Card Game Print & Play Design Contest"
      or tag[0] == "Aeon's End"
      or tag[0] == "Boletín Informativo Solitario"
      or tag[0] == "Imperium: Classics"
      or tag[0] == "Undaunted: Normandy"
      or tag[0] == "Boonlake"
      or tag[0] == "Colonos del Imperio: Imperios del Norte"
      or tag[0] == "Faiyum"
      or tag[0] == "Old-School Essentials"
      or tag[0] == "Res Arcana"
      or tag[0] == "The Siege of Runedar"
      or tag[0] == "Colonos del Imperio"
      or tag[0] == "Cryo"
      or tag[0] == "El mes en juegos"
      or tag[0] == "Europa Universalis: The Price of Power"
      or tag[0] == "Fayún"
      or tag[0] == "Five Parsecs From Home"
      or tag[0] == "Founders of Teotihuacan"
      or tag[0] == "Golem"
      or tag[0] == "Grove"
      or tag[0] == "Hollandspiele"
      or tag[0] == "Horse & Musket"
      or tag[0] == "Keystone: North America"
      or tag[0] == "Labyrinth Lord"
      or tag[0] == "Mörk Borg"
      or tag[0] == "On Mars"
      or tag[0] == "On Tour"
      or tag[0] == "Orquesta Negra"
      or tag[0] == "Pico, Pluma & Hueso"
      or tag[0] == "Road to Cheren"
      or tag[0] == "Seas of Havoc"
      or tag[0] == "Seekers Beyond The Shroud"
      or tag[0] == "Stargrave"
      or tag[0] == "The Bell of Treason"
      or tag[0] == "The Wretched"
      or tag[0] == "Tin Helm"
      or tag[0] == "Undaunted: North Africa"
      or tag[0] == "Weather Machine"
      or tag[0] == "54 Card Game Design Contest"
      or tag[0] == "Agricola"
      or tag[0] == "All Must Bow"
      or tag[0] == "Anachrony: Fractures of Time"
      or tag[0] == "Beyond the Sun"
      or tag[0] == "By Torchlight"
      or tag[0] == "Charles S. Roberts Awards"
      or tag[0] == "Concordia Solitaria"
      or tag[0] == "Corrosion"
      or tag[0] == "Expansión"
      or tag[0] == "Five Leagues From the Borderlands"
      or tag[0] == "For Northwood!"
      or tag[0] == "Forbidden Lands"
      or tag[0] == "Gloomhaven: Fauces del León"
      or tag[0] == "Ironsworn"
      or tag[0] == "Kickstarter"
      or tag[0] == "Legion Wargames"
      or tag[0] == "Lock 'n Load Publishing"
      or tag[0] == "Lost in the Deep"
      or tag[0] == "Maracaibo"
      or tag[0] == "Mausritter"
      or tag[0] == "Maximum Apocalypse"
      or tag[0] == "Mini Rogue"
      or tag[0] == "Muspelhell"
      or tag[0] == "Next War: Korea"
      or tag[0] == "Scarlet Heroes"
      or tag[0] == "Set A Watch"
      or tag[0] == "Solitaire Print & Play Design Contest"
      or tag[0] == "Star Wars: Imperial Assault"
      or tag[0] == "Tainted Grail: La caída de Ávalon"
      or tag[0] == "Thunderstone Quest"
      or tag[0] == "Total War: Rome"
      or tag[0] == "Twilight Imperium"
      or tag[0] == "Zombicide: 2nd Edition" %}
<span class="label label-danger"><strong>#<a class="tag-color"
                                                   href="/etiqueta/{{tag[0] | slugify: "latin"}}">{{tag[0]}}</a></strong></span> 
      {% endif %}
      {% endfor %}
    </p>
  </div>
  <div class="mt10index">
    <h4>Lo más leído</h4>
    <div id="most-read"></div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/05/16/rol-en-solitario-como-empiezo/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2021/09/01/partidas-mes-agosto-21/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2021/08/31/noticias-boletin-agosto-2021/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/01/09/rol-10-juegos-aventuras-para-2020/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2021/08/31/analisis-imperium-classics/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2021/03/27/general-top-100-bgg-solitario-p4/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2018/11/05/analisis-mini-rogue/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2020/11/07/noticias-csr-awards-2020/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2021/03/04/general-top-100-bgg-solitario-p1/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="image-container">
       {% for post in site.posts %}
       {% if post.url == "/2021/01/17/analisis-food-chain-island/" %}
      <a href="{{site.url}}{{post.url}}"><img class="crop-sidebar" src="{{post.imghtml}}">
      <div class="text-block"><h5>{{post.title | truncate: 40}}</h5></div></a>
      {% endif %}
      {% endfor %}
    </div>
<span id="dummy"></span>
  </div>
  <div class="mt10index">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar index bottom -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7734157504598329"
         data-ad-slot="7936733565"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>

