---
layout: default
---
<div class="row">
<div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            <p class="post-meta">
              <time datetime="{{ page.date | date_to_xmlschema }}"
                    itemprop="datePublished">
                {% assign m = page.date | date: "%-m" %}
                {{ page.date | date: "%-d" }}
                {% case m %}
                {% when '1' %}Ene,
                {% when '2' %}Feb,
                {% when '3' %}Mar,
                {% when '4' %}Abr,
                {% when '5' %}May,
                {% when '6' %}Jun,
                {% when '7' %}Jul,
                {% when '8' %}Ago,
                {% when '9' %}Sep,
                {% when '10' %}Oct,
                {% when '11' %}Nov,
                {% when '12' %}Dic,
                {% endcase %}
                {{ page.date | date: "%Y"}}
              </time>
              {% if page.author %} •
              <span itemprop="author" itemscope
                    itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span>
              </span>{% endif %}
            </p>
          </header>

          <div class="post-content text-justify" itemprop="articleBody">
            {{ content }}
          </div>

    </article>
    <div class="row">
        {% if site.disqus-shortname %}
         {% include disqus.html %}
        {% endif %}
    </div>
    
    
    <div class="row">
            <ul class="pager">
             {% if page.next.url %}
             <li>
               <a class="next"
                  href="{{page.next.url | prepend: site.baseurl}}">
                 &laquo;{{page.next.title}}
               </a>
             </li>
              {% endif %}
              {% if page.previous.url %}
             <li>
               <a class="previous"
                  href="{{page.previous.url | prepend: site.baseurl}}">
                 {{page.previous.title}} &raquo;
               </a>
             </li>
             {% endif %}
            </ul>
    </div>
</div>


{% include sidebar.html %}

</div>
