---
layout: default_container
---
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{page.title}}"/>
<meta name="twitter:description" content="{{page.post_desc}}"/>
<meta name="twitter:image" content="{{page.imghtml}}"/>
<div class="row">
<div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <h1 class="post-title text-left" itemprop="name headline">{{ page.title }}</h1>
            <p class="post-meta">
              <time datetime="{{ page.date | date_to_xmlschema }}"
                    itemprop="datePublished">
                {% assign m = page.date | date: "%-m" %}
                {{ page.date | date: "%-d" }}
                {% case m %}
                {% when '1' %}Enero,
                {% when '2' %}Febrero,
                {% when '3' %}Marzo,
                {% when '4' %}Abril,
                {% when '5' %}Mayo,
                {% when '6' %}Junio,
                {% when '7' %}Julio,
                {% when '8' %}Agosto,
                {% when '9' %}Septiembre,
                {% when '10' %}Octubre,
                {% when '11' %}Noviembre,
                {% when '12' %}Diciembre,
                {% endcase %}
                {{ page.date | date: "%Y"}}
              </time>
              {% if page.author %} •
              <span itemprop="author" itemscope
                    itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span>
              </span>{% endif %}

            </p>
            <hr>
          </header>
          <div class="post-content text-justify text-sm-left" itemprop="articleBody">
            {{ content }}
          </div>
          <p class="post-meta">
            <hr>
            <strong>Etiquetas</strong><br>
              {% assign sorted_tags = page.tags | sort %}
              {% for tag in sorted_tags %}
              <!--span class="label label-primary">#<a class="tag-color"
              href="/etiqueta/{{tag | slugify: "latin"}}">{{tag}}</a></span-->
              <!--a href="/tags/{{ tag }}/">{{ tag }}</a><-->
              {% if tag == "Augmented Reality"  or tag == "Ronin" or
              tag == "Paria" or tag == "Dirt RPG" or tag == "Pathfinder" or
              tag == "OSRIC" or tag == "Mapeando las catacumbas" or
              tag == "All Must Bow" or tag == "Muspelhell" or
              tag == "Across a Thousand Dead Worlds" or tag == "Apothecaria" or
              tag == "Tunnels & Trolls" or tag == "Death In Space" or
              tag == "Desert Moon of Karth" or
              tag == "Fronds of Benevolence" or
              tag == "ALIEN RPG" or tag == "Vaesen" or
              tag == "The Dee Sanction" or tag == "Jackals: Bronze Age Fantasy Roleplaying" or
              tag == "Lost in the Deep" or tag == "The Drain" or
              tag == "Vaults of Vaarn" or tag == "Dungeoneering" or
              tag == "Whitehack" or
              tag == "The Vast in the Dark" or
              tag == "Wicked Ones" or
              tag == "Nuctemeron" or tag == "Marrow & Splinters" or
              tag == "Dancing with Bullets Under a Neon Sun" or
              tag == "Mothership: Gradient Descent" or
              tag == "Neverland: A Fantasy Role-Playing Setting" or
              tag == "Rogueland" or
              tag == "The Scourge of the Scorn Lords" or
              tag == "Twilight: 2000" or
              tag == "Ironsworn: Starforged" or
              tag == "Ironsworn Worlds" or tag == "Ironsworn Worlds: Sundered Isles" or
              tag == "Starforged" or
              tag == "Barrowmaze" or 
              tag == "Forbidden Lands" or
              tag == "T-DEF" or tag == "Mörk Borg" or
              tag == "RISE" or tag == "DELVE" or
              tag == "UMBRA" or tag == "WASTE" or
              tag == "Descent Into The Abyss" or
              tag == "Ex Novo" or tag == "Ex Umbra" or
              tag == "Under Ashen Skies" or
              tag == "Mapping the Catacombs" or
              tag == "Old-School Essentials" or
              tag == "Dolmenwood" or
              tag == "The Nightmares Underneath" or
              tag == "A Cool and Lonely Courage" or
              tag == "Dead Halt" or
              tag == "Tunnel Goons" or
              tag == "Lancer" or
              tag == "The Ultraviolet Grasslands" or
              tag == "Sleepaway" or
              tag == "Four Against Darkness" or
              tag == "Dyson's Delve" or
              tag == "Labyrinth Lord" or
              tag == "Mothership" or 
              tag == "Mothership: Dead Planet" or
              tag == "Mothership: A Pound of Flesh" or
              tag == "OSR" or 
              tag == "One Page Dungeon" or 
              tag == "Rol" or
              tag == "Shinobi & Samurai" or
              tag == "Strange Nations" or 
              tag == "Swarp Swords & Sinister Spells" or 
              tag == "The Black Isle" or
              tag == "Veinscrawl" or
              tag == "Seekers Beyond The Shroud" or
              tag == "A Rasp of Sand" or
              tag == "Ruins of the Undercity" or
              tag == "Mad Monks of Kwantoom" or
              tag == "Solar Blades & Cosmic Spells" or
              tag == "Ironsworn" or
              tag == "Winter's Daughter" or
              tag == "The Hole in The Oak" or
              tag == "Trilemma Adventures" or
              tag == "Zine Quest" or
              tag == "Zine Quest 2" or tag == "Zine Quest 3" or
              tag == "A Thousand Year Old Vampire" or
              tag == "A Torch in the Dark" or
              tag == "Alone Among the Stars" or
              tag == "Beak, Feather & Bone" or
              tag == "Pico, Pluma & Hueso" or
              tag == "Cuentos de ánimas" or
              tag == "Disciples of Bone and Shadow" or
              tag == "Disciples of Bone and Shadow: Conquered Sun Edition" or
              tag == "Do Not Let Us Die In The Dark Night Of This Cold Winter" or
              tag == "English Eerie" or
              tag == "Malditos" or
              tag == "Mythic" or
              tag == "Nadir" or
              tag == "Non Gratus Rodentum" or
              tag == "Oneironaut" or
              tag == "Quill" or
              tag == "SCRAWL" or
              tag == "Scarlet Heroes" or
              tag == "Sigils in the Dark" or
              tag == "The Adventure Crafter" or
              tag == "The Adventurer" or
              tag == "The Metamorphica Revised" or
              tag == "The Perilous Wilds" or
              tag == "The Quest" or
              tag == "The Wretched" or
              tag == "Tome of Adventure Design" or
              tag == "UNE" or
              tag == "Wilderness Hexploration" or
              tag == "D30 Sandbox Companion" or
              tag == "Blades in the Dark" or
              tag == "Ironsworn: Delve" or
              tag == "Mausritter" or
              tag == "Troika" %}
              <span class="label label-danger"><strong>#<a class="tag-color"
              href="/etiqueta/{{tag | slugify: "latin"}}">{{tag}}</a></strong></span> 
              {% else %}
              {% if tag == "9 Card Game Print & Play Design Contest" or
              tag == "54 Card Game Design Contest" or
              tag == "Charles S. Roberts Awards" or
              tag == "Golden Geek" or
              tag == "Solitaire Print & Play Design Contest" or
              tag == "Wargame Print & Play Design Contest" or
              tag == "Spiel des Jahres" or tag == "Ennie" or
              tag == "UKGE Awards"%}
              <span class="label label-success"><strong>#<a class="tag-color"
              href="/etiqueta/{{tag | slugify: "latin"}}">{{tag}}</a></strong></span> 
              {% else %}
              {% if tag == "Campaña" or tag == "Expansión" or
              tag == "Kickstarter" or tag == "Print & play" or
              tag == "Tabletopia" or tag == "Tops" or
              tag == "Verkami" or tag == "Gamefound" or
              tag == "Traducciones" or
              tag == "Boletín Informativo Solitario" or
              tag == "El mes en juegos" %}
              <span class="label label-warning"><strong>#<a class="tag-color"
              href="/etiqueta/{{tag | slugify: "latin"}}">{{tag}}</a></strong></span> 
              {% else %}
              {% if tag == "GenCon"
              or tag == "Spiel Digital"
              or tag == "Essen Spiel"
              or tag == "Essen Spiel 2019"
              or tag == "Essen Spiel 2021"
              or tag == "UKGE" or tag == "UKGE 2021" %}
              <span class="label label-info"><strong>#<a class="tag-color"
              href="/etiqueta/{{tag | slugify: "latin"}}">{{tag}}</a></strong></span> 
              {% else %}
              {% if tag == "Compass Games" or 
              tag == "Decision Games" or
              tag == "DVG" or
              tag == "Fellowship of Simulations" or
              tag == "Fort Circle Games" or
              tag == "GMT Games" or
              tag == "Hexasim" or
              tag == "Hollandspiele" or
              tag == "Legion Wargames" or
              tag == "Lock 'n Load Publishing" or
              tag == "Multi-Man Publishing" or
              tag == "NAC Wargames" or
              tag == "New England Simulations" or
              tag == "Nuts! Publishing" or
              tag == "One Small Step" or
              tag == "Operational Studies Group" or
              tag == "Revolution Games" or
              tag == "SNAFU Design" or
              tag == "Thin Red Line Games" or
              tag == "Tiny Battle Publishing" or
              tag == "VUCA Simulations" or
              tag == "White Dog Games" or
              tag == "Worthington Publishing" or
              tag == "1985: Deadly Northern Lights" or
              tag == "Across the Bug River: Volodymyr-Volynskyi 1941" or
              tag == "Advanced Squad Leader" or
              tag == "Advanced Squad Leader: Starter Kit" or
              tag == "Air Raid Pearl Harbor" or
              tag == "All Bridges Burning" or
              tag == "Ambon: Burning Sun & Little Seagulls" or
              tag == "Ardennes 44" or
              tag == "Atlantic Chase" or
              tag == "Battlespace" or
              tag == "Bear Trap: The Soviet-Afghan War" or
              tag == "Brazen Chariots: Battles for Tobruk" or
              tag == "By Stealth and Sea" or
              tag == "Cataclysm: A Second World War" or
              tag == "Caesar: Rome vs. Gaul" or
              tag == "Chancellorsville 1863" or
              tag == "Conflict of Heroes" or
              tag == "Crossing the Line: Aachen 1944" or
              tag == "Cross Bronx Expressway" or
              tag == "D-Day at Omaha Beach" or
              tag == "El Imperio del Sol" or
              tag == "Enemy Action: Ardennes" or
              tag == "Empire of the Sun" or
              tag == "Exploradores de las Profundidades Sombrías" or
              tag == "Fields of Fire" or
              tag == "Fire in the Lake" or
              tag == "Five Parsecs From Home" or
              tag == "Five Leagues From the Borderlands" or
              tag == "Freeman's Farm 1777" or
              tag == "Gettysburg" or
              tag == "Great War Commander" or
              tag == "Hannibal's Revenge" or
              tag == "Hitler's Reich" or
              tag == "Horse & Musket" or
              tag == "Hungarian Rhapsody" or
              tag == "Inferno" or
              tag == "Iron Curtain: Central Europe" or
              tag == "Lanzerath Ridge" or
              tag == "Labyrinth: The Forever War" or
              tag == "Labyrinth: The War on Terror" or
              tag == "Less than 60 Miles" or
              tag == "Men of Iron Battles Tri-pack" or
              tag == "Mr. President" or
              tag == "Napoleon's Wheel" or
              tag == "Navajo Wars" or
              tag == "Nevsky: Teutons and Rus in Collision" or
              tag == "Next War: Korea" or
              tag == "Next War: Vietnam" or
              tag == "Next War Series" or
              tag == "Pavlov's House" or
              tag == "Peloponnesian War" or
              tag == "Rangers of Shadow Deep" or
              tag == "Red Dust Rebellion" or
              tag == "Red Storm: The Air War Over Central Germany" or
              tag == "Road to Cheren" or
              tag == "Santander 37" or
              tag == "Schnell Boats: Scourge of the English Channel" or
              tag == "Shiloh 1862" or
              tag == "Sniper Kill Confirmed" or
              tag == "Space Empires" or
              tag == "Stargrave" or
              tag == "Stilicho: Last of the Romans" or
              tag == "Scream Aim Fire!" or
              tag == "Stalingrad 42" or
              tag == "The Bell of Treason" or
              tag == "The Conquistadors" or
              tag == "The Dark Valley" or
              tag == "The First Jihad" or
              tag == "The Great Crisis of Frederick II" or
              tag == "The Jaws of Victory" or
              tag == "The Last Hundred Yards" or
              tag == "The Last Hundred Yards: Airborne Over Europe" or
              tag == "The Last Hundred Yards: The Russian Front" or
              tag == "The Mission" or
              tag == "The Plum Island Horror" or
              tag == "The Pure Land" or
              tag == "The Shores of Tripoli" or
              tag == "Thunder in the East" or
              tag == "Triumvir" or
              tag == "Verdun 1916: Steel Inferno" or
              tag == "Versailles 1919" or
              tag == "White Eagle Defiant" or
              tag == "World at War 85: Storming the Gap" %}
                 <span class="label label-grey"><strong>#<a class="tag-color"
                    href="/etiqueta/{{tag | slugify:
                    "latin"}}">{{tag}}</a></strong></span> 
                 {% else %}
                 <span class="label label-primary"><strong>#<a class="tag-color"
              href="/etiqueta/{{tag | slugify: "latin"}}">{{tag}}</a></strong></span> 
              {% endif %}
              {% endif %}
              {% endif %}
              {% endif %}
              {% endif %}
              {% endfor %}
          </p>
          <hr>
          <!--- adsense --->
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- horizontal after post fixed -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-7734157504598329"
               data-ad-slot="2326100656"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          {% for tag in page.tags %}
          {% if tag == "Rol" %}
          <!-- <div class="row"> -->
          <!--   <a href="https://www.drivethrurpg.com/metal.php?affiliate_id=1914894"> -->
          <!--     <img -->
          <!--       src="https://www.drivethrurpg.com/images/site_resources/DTRPG-PlatinumBan.jpg" -->
          <!--       border="0" -->
          <!--       alt="Best Selling RPGs - Available Now @ DriveThruRPG.com"/></a> -->
          <!-- </div> -->
          {% endif %}
          {% endfor %}
    </article>
    <div class="row">
    {% assign hasSimilar = '' %}
    {% for post in site.posts %}
    {% assign postHasSimilar = false %}
    {% for tag in post.tags %}
      {% for thisTag in page.tags %}
        {% if postHasSimilar == false and hasSimilar.size < 3 and
           post != page and tag == thisTag %}
          {% if hasSimilar.size == 0 %}
            <h4>Entradas relacionadas</h4>
            <!--ul-->
              <div class="row">
           {% endif %}
           <div class="col-sm-4 col-xs-4">
             <a href="{{ site.url }}{{ post.url }}">
               <img
                 {% if post.crop %}
                 class="crop-similar"
                 {% else %}
                 class="crop-nocrop"
                 {% endif %}
                 {% if post.imghtml %}
                 src="{{ post.imghtml }}"
                 {% else %}
                 src="{{ post.img }}"
                 {% endif %}
                    class="img-thumbnail related-caption" alt="{{post.title}}">
               <span class="related-caption">
                 {{ post.title }}
                 </a>
               </span>
             </div>
           {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
           {% assign postHasSimilar = true %}
         {% endif %}
       {% endfor %}
     {% endfor %}
   {% endfor %}
   {% if hasSimilar.size > 0 %}
        <!--/ul-->
        </div>
   {% endif %}
   </div>
   <div class="row">
     <ul class="pager">
       {% if page.next.url %}
         <li>
           <a class="next"
              href="{{page.next.url | prepend: site.baseurl}}">
              &laquo;{{page.next.title}}
           </a>
         </li>
       {% endif %}
       {% if page.previous.url %}
       <li>
         <a class="previous"
            href="{{page.previous.url | prepend: site.baseurl}}">
           {{page.previous.title}} &raquo;
         </a>
       </li>
       {% endif %}
     </ul>
   </div>
   <div class="row">
     {% if site.disqus-shortname %}
     {% include disqus.html %}
     {% endif %}
   </div>
</div>

{% include sidebar.html %}

</div>
