---
layout: default_container
---

<div class="row">
  <div class="col-md-8">
    <h1>Entradas en #{{ page.tag }}</h1>
    <div class="pack">
      {% for post in site.posts %}
      {% for tag in post.tags %}
      {% if tag == page.tag %}
      <div class="col-md-4 card">
        <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">    
          <div class="panel panel-default">
            {% if post.imghtml %}
            <img
              {% if post.crop %}
              class="try-to-crop" 
              {% else %}
              width="100%" 
              {% endif %}
              src="{{post.imghtml}}" alt="{{post.title}}">
            {% else %}
            {% if post.img %}
            <img width="100%" src="{{site.baseurl}}/images/{{post.img}}"
                 alt="{{post.title}}">
            {% else %}
            <img width="100%" src="{{site.baseurl}}/images/logo.png"
                 alt="{{site.title}}">
            {% endif %}
            {% endif %}
            <div class="panel-body">
            <h3 class="panel-title pull-left">
              {{ post.title | truncate: 70 }}
            </h3>
            <br>
            <div clas="pull-left">
              {% assign categ_sorted = post.categories | sort %}
              <span class="label label-default">
                {{categ_sorted[0]}}
              </span>
              <span class="post-meta pull-right"><small>
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                {% when '1' %}Enero
                {% when '2' %}Febrero
                {% when '3' %}Marzo
                {% when '4' %}Abril
                {% when '5' %}Mayo
                {% when '6' %}Junio
                {% when '7' %}Julio
                {% when '8' %}Agosto
                {% when '9' %}Septiembre
                {% when '10' %}Octubre
                {% when '11' %}Noviembre
                {% when '12' %}Diciembre
                {% endcase %}
                {{ post.date | date: "%Y" }}
                </small>
              </span>
              <div class="pull-right">
                <span>
                  <small>
                    <a href="{{post.url | prepend: site.baseurl}}#disqus_thread">
                    </a> <i class="fa fa-comment">&nbsp;&nbsp;</i>
                  </small>
                </span>
              </div>
            </div>
          </div>
          
          <div class="panel-body"><small>
              {% if post.post_desc %}
              {{ post.post_desc | strip_html | strip_newlines | truncate: 180}}
              {% else %}
              {{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}
              {% endif %}
            </small>
          </div>
        </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div><!-- pack -->
  </div><!-- col-md-8 --->
  {% include sidebar_page.html %}
</div> <!-- row -->
